<section id="header">
	<div class="wrapper">
		<h1 class="logo">
			<a href="{{ site.baseurl }}/">
				Mexicali <span>OpenSource</span>
			</a>
		</h1><!-- .logo -->
	</div><!-- .wrapper -->

	<nav class="main-menu">
		<div class="wrapper">
			<ul class="row navigation">
				<li class="col">
					<a {% if page.layout == 'home' %}{{ 'class="current"' }}{% endif %} href="{{ site.baseurl }}/"><i class="fa fa-home"></i> <span>Portada</span></a>
				</li>
				<li class="col">
					<a {% if page.layout == 'blog' or page.layout == 'post' %}{{ 'class="current"' }}{% endif %} href="{{ "/blog/" | prepend: site.baseurl }}"><i class="fa fa-file-text"></i> <span>Blog</span></a>
				</li>
				<li class="col">
					<a href="https://www.facebook.com/groups/mxlos/" target="_blank"><i class="fa fa-group"></i> <span>Comunidad</span></a>
				</li>
				<li class="col">
					<a {% if page.layout == 'meetings' or page.layout == 'meeting' %}{{ 'class="current"' }}{% endif %} href="{{ "/reuniones/" | prepend: site.baseurl }}"><i class="fa fa-calendar"></i> <span>Reuniones</span></a>
				</li>
				<li class="col">
					<a {% if page.layout == 'sponsors' %}{{ 'class="current"' }}{% endif %} href="{{ "/patrocinadores/" | prepend: site.baseurl }}"><i class="fa fa-briefcase"></i> <span>Patrocinadores</span></a>
				</li>
				<li class="col">
					<a href="#" rel="contactus"><i class="fa fa-envelope"></i> <span>Contacto</span></a>
				</li>
			</ul><!-- .navigation -->
		</div><!-- .wrapper -->
	</nav><!-- .main-menu -->
</section><!-- #header -->