---
layout: default
---

<section id="content">
	<div class="row wrapper">
		<div class="col col-span-12 content">
			<div class="box blog">
				<div class="box-header">
					<h2 class="title">{{ page.title }}</h2>
				</div><!-- .post-header -->

				<div class="box-body">
					<div class="box-content single-box">
						{{ content }}
					</div><!-- .box-content -->
				</div><!-- .box-body -->
			</div><!-- .blog -->
		</div><!-- .content -->
	</div><!-- .wrapper -->
</section><!-- #content -->