---
layout: default
---

<section id="content">
	<div class="row wrapper">
		<div class="col col-span-12 content">
			<div class="box blog">
				<div class="box-header">
					<h2 class="title">{{ page.title }}</h2>
				</div><!-- .post-header -->

				<div class="box-body">
					<div class="box-content single-box">
					</div><!-- .box-content -->
				</div><!-- .box-body -->
			</div><!-- .blog -->
		</div><!-- .content -->
	</div><!-- .wrapper -->
</section><!-- #content -->

<script type="text/javascript">
	var content = $('#content .content .blog .single-box');
	var details = '';
	var users = '';

	$.ajaxSetup({ cache: true });
	$.getScript('https://connect.facebook.net/es_LA/all.js', function() {
		FB.init({
			appId:'274324772768932',
			cookie: true,
			xfbml: true
		});
		$('#loginbutton, #feedbutton').removeAttr('disabled');
		FB.api('/'+{{ page.event }}, 'get', { access_token:'274324772768932|YG_8Hdvx8Z_PGP-qt9akvHmWZ4c' }, function(response) {
			if (response  && !response.error) {
				response.description = '<p>'+response.description.replace(/\n\n/g, '</p><p>')+'</p>';
				response.description = response.description.replace(/\n/g, '<br />');
				response.start_time = response.start_time.replace('T', ' ').replace(/-/g, ' ').replace(/:/g, ' ');
				response.start_time = response.start_time.split(' ');
				response.start_time = new Date(response.start_time[0], response.start_time[1]-1, response.start_time[2], response.start_time[3], response.start_time[4], response.start_time[5]);

				content.append('<h2>'+response.name+'</h2>');
				content.append(response.description);
				details += '<li><strong>Sede</strong>: '+response.location+'</li>';
				details += '<li><strong>Dirección</strong>: '+response.venue.street+'</li>';
				details += '<li><strong>Fecha</strong>: '+response.start_time+'</li>';
				
			}
		});
		content.append('<ul>'+details+'</ul>');

		content.append('<h6>Miembros</h6>');
		FB.api('/'+{{ page.event }}+'/attending', 'get', { access_token:'274324772768932|YG_8Hdvx8Z_PGP-qt9akvHmWZ4c' }, function(response) {
			if (response  && !response.error) {
				details += '<li><strong>Confirmados</strong>: '+response.data.length+'</li>';
			}
		});
		FB.api('/'+{{ page.event }}+'/maybe', 'get', { access_token:'274324772768932|YG_8Hdvx8Z_PGP-qt9akvHmWZ4c' }, function(response) {
			if (response  && !response.error) {
				details += '<li><strong>Tentativos</strong>: '+response.data.length+'</li>';
			}
		});
		
	});
</script>