---
layout: default
---

<section id="content">
	<div class="row wrapper">
		<div class="col col-span-12 content">
			<div class="box blog">
				<div class="box-header">
					<h2 class="title">{{ page.title }}</h2>
				</div><!-- .post-header -->

				<div class="box-body">
					<div class="box-content single-box">
						{{ content }}
					</div><!-- .box-content -->

					<div class="row box-meta single-meta">
						<div class="col col-span-8 single-info">
							{{ page.date | date: "%d/%m/%Y" }}
							{% if page.author %} por {{ site.data.authors[page.author].name }} {% endif %}
						</div><!-- .single-info -->
					</div><!-- .box-meta -->
				</div><!-- .box-body -->
			</div><!-- .blog -->
		</div><!-- .content -->
	</div><!-- .wrapper -->
</section><!-- #content -->